.title {
    text-align: center;
    margin-top: 2em;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3em 7em;
}

.ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    margin: 20px;
    width: 300px;
    height: 500px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.li {
    list-style: none;
    padding: 20px;
}

.name {
    font-weight: bold;
    text-transform: uppercase
}

.brand {
    font-weight: bold;
}

.img {
    width: 250px;
    max-height: 200px;
    border-radius: 20px;
    margin: 10px;
}

.loading {
    font-weight: bold;
    color: gray;
    text-align: center;
    margin: 2em;
}